.App {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.expanding {
  transition: linear 0.1s;
  height: 40px;
} 
 .expanded  {
  transition: linear 0.1s;
  height: 60px;
}
/* 
*{
  border: solid 1px red;
} */
.font-yb{
  font-family: 'Ysabeau SC', sans-serif;
}
.font-prism{
  font-family: 'Tilt Prism', cursive;
}
.font-pixel{
  font-family: 'Press Start 2P', cursive;
}

.bg-metayellow:hover {
  background-color: #FFCE2C;
}
.or {
color: #FF7849;
}
.text-bgtrans{
  background: -webkit-linear-gradient(#FF7849, #e55f33);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linear-ore{
  background: linear-gradient( to right, #FF7849, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reddit:hover {
  background-color: none;
  background-color: #FF4520;
}
.sh {
  box-shadow: black 5px 5px 40px 5px;
}
.sh-white{
  box-shadow: rgb(60, 60, 60) 0px 0px 50px 5px;
}
.metr-cont * {
  margin: auto;
} 
/* Styling vertical scrollbar */
::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(66, 65, 65); /* Scroll color */
    border-radius: 5px; /* Scroll thumb border radius */
  }
  
  /* Styling horizontal scrollbar */
  ::-webkit-scrollbar.horizontal {
    display: hidden;
}
  
  ::-webkit-scrollbar-track.horizontal {
    background-color: #f1f1f1; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb.horizontal {
    background-color: #0a0a0a; /* Scroll color */
    border-radius: 5px; /* Scroll thumb border radius */
  }




  .custom-scroll ::-webkit-scrollbar {
    height: 7px;
    transition: linear  0.1s ease-in-out;
  }
    
  .custom-scroll ::-webkit-scrollbar-track {
    background-color: #f6f6f600; /* Track color */
  }
  
  .custom-scroll ::-webkit-scrollbar-thumb {
   background-color: #e55f33;
    border-radius: 20px; /* Scroll thumb border radius */
  }

  
  .genre-button {
    height: 60px;
    background-size: cover;
    min-width: 100px;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out; 
  }
  
  
  ::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }

  .card:hover *{
    color: #FF7849;
  }
  .bg-press-banner{
    background-image: url('./assets/Backgrounds/press.jpg');
  }